@using AnimalsShelter.Web.ViewModels.Animals;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<AnimalsViewModel>

<h3 class="centerText">All Animals</h3>

<hr />

<div class="table-responsive">
    <table id="animalsTable" class="table table-hover">
        <thead>
            <tr>
                <th><strong>Image</strong></th>
                <th><strong>Name</strong></th>
                <th><strong>Type</strong></th>
                <th><strong>Breed</strong></th>
                <th><strong>Gender</strong></th>
                <th><strong>Address</strong></th>
                <th><strong>Phone No</strong></th>
                <th><strong>User</strong></th>
                <th><strong>Details</strong></th>
                <th><strong>Edit</strong></th>
                <th><strong>Delete</strong></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var animal in Model)
            {

                <tr>
                    <td>@Html.Partial("_GetImagePartial", animal)</td>
                    <td><h4>@animal.Name</h4></td>
                    <td><h4>@animal.Type</h4></td>
                    <td><h4>@animal.Breed</h4></td>
                    <td><h4>@animal.Gender</h4></td>
                    <td><h4>@animal.Address</h4></td>
                    <td><h4>@animal.PhoneNumber</h4></td>
                    <td><h4>@animal.User.UserName.Split('@')[0].ToUpper()</h4></td>

                    @{
                        string adLink = $"/admin/adminpanel/animal/{animal.Id}";
                        string editLink = $"/adminpanel/update/animal/{animal.Id}";
                    }

                    <td>
                        <a class="btn btn-default" target="_blank" href="@Url.Action("Animal", "AdminPanel", new { animal.Id }, null)">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-primary" target="_blank" href="@Url.Action("UpdateAnimal", "AdminPanel", new { id = animal.Id }, null)" >
              
                        </a>
                    </td>

                    <td>
                        @Ajax.ActionLink("X", "DeleteAnimal", "AdminPanel",
                                        new { id = animal.Id },
                                        new AjaxOptions { HttpMethod = "POST" },
                                        new { @class = "btn btn-danger" })
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("Animals", new { page }))

@section scripts {
    <script>
        //$(document).ready(function () {
        //    $('#animalsTable').DataTable();
        //});

        $(".btn-danger").on('click', (event) => {
            let el = $(event.target);
            el.parent().parent().remove();
        });

        $('.selector').on('click', (event) => {
            let animal = event.target.id;
            let url = `/admin/adminpanel/${animal}`;
            content.load(url);
        })
    </script>
}
