@using AnimalsShelter.Web.ViewModels.Animals;

@model AnimalsViewModel

@{
    ViewBag.Title = "Animal info";
}

<h3 align="center">Added by @Model.User.UserName.Split('@')[0].ToUpper()</h3>

@Html.HiddenFor(x => Model.Id)

<div class="col-md-3">
    @Html.Partial("_GetImagePartial", Model)
</div>
<div class="col-md-3">
    <p><strong>Name: </strong><strong>@Model.Name</strong></p>
    <p><strong>Type: </strong><strong>@Model.Type</strong></p>
    <p><strong>Breed: </strong><strong>@Model.Breed</strong></p>
</div>
<div class="col-md-3">
    <p><strong>Gender: </strong><strong>@Model.Gender</strong></p>
    <p><strong>Age: </strong><strong>@Model.Age</strong></p>
    <p><strong>Size: </strong><strong>@Model.Size</strong></p>
</div>
<div class="col-md-3">
    <p><strong>Address: </strong><strong>@Model.Address</strong></p>
    <p><strong>Phone No: </strong><strong>@Model.PhoneNumber</strong></p>
    <p><strong>User: </strong><strong>@Model.User.UserName.Split('@')[0].ToUpper()</strong></p>
</div>