@using PagedList;
@using PagedList.Mvc;
@using AnimalsShelter.Web.ViewModels.Animals;

@model IPagedList<AnimalsViewModel>

@{
    ViewBag.Title = "Animals for Rehome";
}

<p class="btn btn-default btn-group-justified">
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add Animal for Rehome", "AddAnimalForRehome", new { @class = "no-dec font-weight-bold" })
    }
</p>
<br />
<p class="text-center font-weight-bold">Animals for Rehome</p>

@foreach (var animal in Model)
{
    <a class="list-group-item clearfix" href="@Url.Action("Animal", "Animal",  new { animal.Id }, null)">
        <div class="col-md-3">
            @Html.Partial("_GetImagePartial", animal)
        </div>
        <div class="col-md-3">
            <p><strong>Name: </strong>@animal.Name</p>
            <p><strong>Type: </strong>@animal.Type</p>
            <p><strong>Breed: </strong>@animal.Breed</p>
        </div>
        <div class="col-md-3">
            <p><strong>Gender: </strong>@animal.Gender</p>
            <p><strong>Age: </strong>@animal.Age</p>
            <p><strong>Size: </strong>@animal.Size</p>
        </div>
        <div class="col-md-3">
            <p><strong>Address: </strong>@animal.Address</p>
            <p><strong>Phone No: </strong>@animal.PhoneNumber</p>
        </div>
    </a>
}

@Html.PagedListPager(Model, page => Url.Action("AnimalsForRehome", new { page }))
