@using PagedList
@using PagedList.Mvc
@using AnimalsShelter.Web.ViewModels.Animals;

@model IPagedList<AnimalsViewModel>

@{
    ViewBag.Title = "Lost Animals";
}

<p class="btn btn-default btn-group-justified">
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add Lost Animal", "AddLostAnimal", null, new { @class = "no-dec" })
    }
</p>
<br />
<p class="text-center font-weight-bold">Lost Animals</p>


@foreach (var animal in Model)
{
    <a class="list-group-item clearfix" href="@Url.Action("Animal", "Animal",  new { animal.Id }, null)">
        <div class="col-md-3">
            @Html.Partial("_GetImagePartial", animal)
        </div>
        <div class="col-md-3">
            <p><strong>Name: </strong><h5>@animal.Name</h5></p>
            <p><strong>Type: </strong><h5>@animal.Type</h5></p>
            <p><strong>Breed: </strong><h5>@animal.Breed</h5></p>
        </div>
        <div class="col-md-3">
            <p><strong>Gender: </strong><h5>@animal.Gender</h5></p>
            <p><strong>Age: </strong><h5>@animal.Age</h5></p>
            <p><strong>Size: </strong><h5>@animal.Size</h5></p>
        </div>
        <div class="col-md-3">
            <p><strong>Address: </strong><h5>@animal.Address</h5></p>
            <p><strong>Phone No: </strong><h5>@animal.PhoneNumber</h5></p>
            <p><strong>User: </strong><h5>@animal.User.UserName.Split('@')[0].ToUpper()</h5></p>
        </div>
    </a>
}

@Html.PagedListPager(Model, page => Url.Action("LostAnimals", new { page }))
